@use "variables" as *;
@use "mixins" as *;

.timeline {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;

  @include mq("tablet") {
    grid-template-columns: 0.8fr 0.8fr 1.3fr;
    gap: 9rem;
  }
}

.timeline__item {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.timeline__period {
  color: $text-muted;
  font-size: 1.3rem;
  font-weight: 600;
}

.timeline__title {
  font-size: 1.4rem;
  font-weight: 700;
}

.timeline__place {
  margin-bottom: 0.6rem;
  color: $text-muted;
  font-size: 1.4rem;
}

.timeline__note {
  color: $text;
}
